/* TODO Add site wide styles */
body {
 background-image: url('/images/white-concrete-wall_53876-92803.jpeg')
}
.main-page{
    display: flex;
    flex-direction: row;justify-content: space-between;
}